p
  a(href='/logout', class="logout") Logout
h1 New Image
form(action='/images', method='POST', enctype='multipart/form-data')!= partial('partials/images/image_form')
  p
    a(href='/images/', class='button back') Back
    a(href='javascript:void(null)', class='button submit') Submit
script.
  $(function() {
    $('.submit').bind('click', function() {
      $('form').submit()
    })
    $('#uploadImageInput').bind("mouseover", function() {
      this.classList.add('hover')
    });
    $('#uploadImageInput').bind("mouseout", function() {
      this.classList.remove('hover')
    });
  });