h1 New Photo
form(action='/photos', method='POST', enctype='multipart/form-data')!= partial('partials/photos/photo_form')
  p
    a(href='/photos/', class='button back') Back
    a(href='javascript:void(null)', class='button submit') Submit
script
  $(function() {
    $('.submit').bind('click', function() {
      $('form').submit()
    })
    $('#uploadPhotoInput').bind("mouseover", function() {
      this.classList.add('hover')
    });
    $('#uploadPhotoInput').bind("mouseout", function() {
      this.classList.remove('hover')
    });
  });