!!! 5
html(lang='en')
  head
    meta(charset="utf-8")
    title Apple Products
    link(rel='stylesheet', href='/styles/style.css')
    script(type='text/javascript', src='/scripts/chocolatechip.js')
  body
    #main
      #container!= body