p.label 
  label(for='productName')
  |  Name:
p
  input(type='text', id='productName', name='product[name]', value=product.name)
p.label 
  label(for='productDescription')
  |  Description:
p
  textarea(id='productDescription', name='product[description]')= product.description
p.label 
  label(for='productDescription')
  |  Price:
p.label 
  input(type='text', id='productPrice', name='product[price]', value=product.price)
p
p.label
  label(for='product_image') Image:
p.selectLabel 
  // Render a select box of available images:
  select(id='product_image', name='product[image]')
    - each image in images
      option(value=image, selected=(product.image == image))= image
p
  br
  // If a product id exists, the user is editing one.
  // Allow the user to go back to the product view.
  - if (product.id)
    a(href='/products/' + product.id, class='button back') Back
    // Otherwise, it's a new product, so allow the user to go back to products page.
  - else
    a(href='/products/', class='button back') Back    
  a(href='javascript:void(null)', class='button submit') Submit
p
  br
  a(href='/images', class="button") View Available Images
