h1 Editing #{product.name}
form(action='/products/' + product.id, method='POST') 
  input(type='hidden', name='_method', value='PUT')
  div!= partial('../partials/products/product_form', {locals: {product: product}})
  script
    $(function() {
      $('.submit').bind('click', function() {
        $('form').submit()
      })
    })