prepend body 
  // If the user is logged in, show the logout link:
  - if (user) 
    p
      a(href='/logout', class="logout") Logout
  // Otherwise show the login link:
  - if (!user) 
    p
      a(href='/login', class="logout") Login
  h1.returnHome 
    a(href='/') Most Popular Products
script.
   document.body.classList.toggle('homeCursor');
// If user is logged in:
- if (user)
  h3 Add a new product
    p
      a(href='/products/new', class='button') New Product

// Output partial for list of available products:     
#products
  for product in products 
    .product
      h2= product.name
      p= product.description
      p 
        strong Price: #{product.price}
      p 
        a(href='/products/' + product.id, class='button') Details

// If user is logged in:
- if (user)
  h3 Add a new product
    p
      a(href='/products/new', class='button') New Product