prepend body 
  // If the user is logged in, show the logout link:
  - if (user) 
    p
      a(href='/logout', class="logout") Logout
  // Otherwise show the login link:
  - if (!user) 
    p
      a(href='/login', class="logout") Login
  h1.returnHome 
    a(href='/') Most Popular Products
script
   document.body.classList.toggle('homeCursor');
#products!= partial('../partials/products/product', products);
- if (user)
  h3 Add a new product
    p
      a(href='/products/new', class='button') New Product