prepend body 
  p
    a(href='/logout', class="logout") Logout
  h1.returnHome 
    a(href='/') Most Popular Products
script
   document.body.classList.toggle('homeCursor');
#products!= partial('../partials/products/product', products);
h3 Add a new product
p
 a(href='/products/new', class='button') New Product