h1 Add a New Product #{product.name}
form(action='/products', method='POST')
  div!= partial('../partials/products/product_form', {locals: {product: product}})
script
  $(function() {
    $('.submit').bind('click', function() {
      $('form').submit()
    })
  })